.despedida{
    background-color: rgb(77, 77, 77);
    
    .contenido{
        height: 100%;
        text-align: center;
        padding: 20px;

        p{
            color: white;
            font-size: 30px;
            font-weight: 300;
        }
    }
}