.niños{
    background-color: rgba(245, 245, 245, 0.932);
    .contenido{
        height: 100%;
        padding: 25px;
        text-align: center;

        p{
            font-size: 30px;
        }
        h3{
            font-size: 30px;
        }
    }
}