@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  font-family: "Cormorant Garamond", serif;
}

body {
  max-width: 1200px;
}

h1 {
  font-family: "MonteCarlo", cursive;
}

h2 {
  font-size: 35px;
  margin: 0;
}

h3 {
  color: rgb(77, 77, 77);
  font-family: "Kalnia", serif;
  font-size: 35px;
}

.separador {
  width: 70%;
  margin: auto;
  border: 0.3px solid rgb(64, 64, 64);
}

.separador-img {
  width: 70%;
}

.separador-img-blanco {
  width: 70%;
  filter: invert(100%);
}

.separador-blanco {
  width: 50%;
  margin: auto;
  border: 0.3px solid rgb(255, 255, 255);
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

header {
  width: 100%;
  height: 100vh;
  color: white;
}
header .video-bg {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .video-bg video {
  position: fixed;
  margin: auto;
  bottom: 0;
  height: 100vh;
  z-index: -2;
}
header .contenido {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(53, 25, 25, 0.416);
  text-align: center;
}
header .contenido audio {
  margin-bottom: 50px;
}
header .contenido audio::-webkit-media-controls-enclosure {
  background-color: transparent;
}
header .contenido audio::-webkit-media-controls-mute-button {
  display: none;
}
header .contenido h2 {
  font-weight: 300;
  font-size: 35px;
  margin-bottom: 60px;
}
header .contenido h1 {
  font-family: "MonteCarlo", cursive;
  font-size: 60px;
}
header .contenido .contador {
  font-weight: 400;
  margin-top: 80px;
  font-size: 40px;
}

.invitacion {
  background-color: rgba(245, 245, 245, 0.932);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.invitacion p {
  font-weight: 400;
  font-size: 35px;
}
.invitacion .texto-invitacion h3 {
  font-size: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.fotosHash {
  height: auto;
  background-image: url("../../img/WhatsApp Image 2023-12-11 at 8.02.50 PM (1).jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fotosHash .contenido {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(45, 13, 13, 0.523);
  padding: 60px 20px;
  text-align: center;
}
.fotosHash .contenido h3 {
  margin: 0;
  color: white;
  font-size: 35px;
}
.fotosHash .contenido p {
  margin: 10px;
  font-weight: 400;
  font-size: 35px;
  color: white;
}

.fotosHash2 {
  background-color: rgba(245, 245, 245, 0.932);
}
.fotosHash2 .contenido {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  text-align: center;
}
.fotosHash2 .contenido h3 {
  margin: 0;
  font-size: 35px;
}
.fotosHash2 .contenido p {
  margin: 10px;
  font-weight: 400;
  font-size: 35px;
  color: black;
}

.lo-que-tienes-que-saber {
  background-color: rgb(77, 77, 77);
}
.lo-que-tienes-que-saber .contenido {
  padding: 20px;
  color: white;
  text-align: center;
}
.lo-que-tienes-que-saber .contenido h1 {
  font-size: 50px;
  font-weight: 300;
}
.lo-que-tienes-que-saber .contenido h2 {
  font-weight: 300;
}
.lo-que-tienes-que-saber .contenido p {
  margin: 0;
  font-size: 30px;
}
.lo-que-tienes-que-saber .contenido button {
  cursor: pointer;
  padding: 15px 20px;
  background-color: rgb(77, 77, 77);
  border: 2px solid white;
  border-radius: 10px;
  transition: all 0.3s;
  -webkit-box-shadow: 2px -2px 57px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 2px -2px 57px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 2px -2px 57px 0px rgba(0, 0, 0, 0.34);
}
.lo-que-tienes-que-saber .contenido button a {
  text-decoration: none;
}
.lo-que-tienes-que-saber .contenido button h3 {
  color: white;
  font-weight: 400;
  margin: 0;
}
.lo-que-tienes-que-saber .contenido button:hover {
  -webkit-box-shadow: -1px 0px 66px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 66px -18px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 66px -18px rgba(0, 0, 0, 0.75);
}
.lo-que-tienes-que-saber .contenido .imagenes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lo-que-tienes-que-saber .contenido .imagenes img {
  width: 100px;
}

.confirmacion {
  background-color: rgba(245, 245, 245, 0.932);
}
.confirmacion .contenido {
  height: 100%;
  padding: 20px;
  text-align: center;
}
.confirmacion .contenido h1 {
  font-size: 50px;
  font-weight: 300;
}
.confirmacion .contenido p {
  font-weight: 400;
  font-size: 35px;
}
.confirmacion .contenido img {
  width: 100%;
}
.confirmacion .contenido .botones {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.confirmacion .contenido .botones button {
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border: none;
  background-color: rgb(77, 77, 77);
  border-radius: 10px;
  padding: 10px 20px;
  -webkit-box-shadow: 2px -2px 57px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 2px -2px 57px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 2px -2px 57px 0px rgba(0, 0, 0, 0.34);
}
.confirmacion .contenido .botones button a {
  text-decoration: none;
}
.confirmacion .contenido .botones button h3 {
  padding: 10px 0;
  font-weight: 300;
  font-size: 20px;
  color: white;
  margin: 0;
}

.donaciones {
  height: auto;
  background-image: url("../../img/WhatsApp Image 2023-12-13 at 9.11.07 AM.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.donaciones .contenido {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(83, 83, 83, 0.523);
  padding: 60px 20px;
  text-align: center;
}
.donaciones .contenido h3 {
  margin: 0;
  color: white;
  font-size: 35px;
}
.donaciones .contenido p {
  margin: 10px;
  font-weight: 400;
  font-size: 35px;
  color: white;
}

.fotosHash2 {
  background-color: rgba(245, 245, 245, 0.932);
}
.fotosHash2 .contenido {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  text-align: center;
}
.fotosHash2 .contenido h3 {
  margin: 0;
  font-size: 35px;
}
.fotosHash2 .contenido p {
  margin: 10px;
  font-weight: 400;
  font-size: 35px;
  color: black;
}

.niños {
  background-color: rgba(245, 245, 245, 0.932);
}
.niños .contenido {
  height: 100%;
  padding: 25px;
  text-align: center;
}
.niños .contenido p {
  font-size: 30px;
}
.niños .contenido h3 {
  font-size: 30px;
}

.fotos {
  background-color: #ffeebc;
  -webkit-box-shadow: inset 0px 0px 44px -22px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 44px -22px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 44px -22px rgba(0, 0, 0, 0.75);
}
.fotos .contenido {
  height: 100%;
  text-align: center;
  padding: 30px;
}
.fotos .contenido h1 {
  font-size: 45px;
  font-weight: 300;
  color: black;
  margin: 0;
}
.fotos .contenido .carousel-inner {
  -webkit-box-shadow: 0px 0px 44px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 44px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 44px -11px rgba(0, 0, 0, 0.75);
}

.despedida {
  background-color: rgb(77, 77, 77);
}
.despedida .contenido {
  height: 100%;
  text-align: center;
  padding: 20px;
}
.despedida .contenido p {
  color: white;
  font-size: 30px;
  font-weight: 300;
}

.final {
  background-color: rgba(245, 245, 245, 0.932);
  padding-bottom: 30px;
}
.final .contenido {
  height: 100%;
  text-align: center;
  padding: 20px;
}
.final .contenido p {
  color: black;
  font-size: 30px;
  font-weight: 300;
}

/*# sourceMappingURL=styles.css.map */
